@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Timbre is the best way to catalogue your personal music collection. By connecting your music to the cloud, you ensure that you're never without your music, no matter where you go.</p>
