@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    1900 Commerce Street<br />
    Tacoma, WA 98402<br />
    <abbr title="Phone">P:</abbr>
    253.253.0000
</address>
